body {
  background-color: azure;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

aside {
  float: right;
  width: 200px;
  border-style: groove;
  margin: 5px 15px;
  padding: 5px 15px;
}

ol {
  margin-left: 30px;
}

footer {
  margin-top: 20px;
}

.remove-line-above {
  margin-top: -1em;
}